[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = "7.6.10"
flake8-docstrings = "*"
flake8-black = "*"
flake8-copyright = "*"
flake8-file-encoding = "*"
mypy = "1.1.1"
pytest = "*"
pyfakefs = "*"
pytest-cov = "*"
wheel = "*"
pre-commit = "*"
continuous-delivery-scripts = {editable = true, path = "."}

[pipenv]
allow_prereleases = false

[packages]
types-toml = "*"
types-setuptools = "*"
continuous-delivery-scripts = {file = ".", editable = true}
