#
# Copyright (C) 2020-2022 Arm Limited or its affiliates and Contributors. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
[ProjectConfig]
# Only path variables can and must contain 'DIR', 'PATH' or 'ROOT' in their name as
# these tokens are used to identify path variables from other variable types.
MASTER_BRANCH = "main"
PROJECT_NAME = "Continuous Delivery Scripts"
PACKAGE_NAME = "continuous-delivery-scripts"
PROJECT_UUID = 'f0cfd7a4-30b4-11eb-adc1-0242ac120002'
PROJECT_ROOT = "."
NEWS_DIR = "news/"
SOURCE_DIR = "continuous_delivery_scripts"
RELEASE_BRANCH_PATTERN = "^release.*$"
MODULE_TO_DOCUMENT = "continuous_delivery_scripts"
DOCUMENTATION_DEFAULT_OUTPUT_PATH = "local_docs"
DOCUMENTATION_PRODUCTION_OUTPUT_PATH = "docs"
VERSION_FILE_PATH = "continuous_delivery_scripts/_version.py"
CHANGELOG_FILE_PATH = "CHANGELOG.md"
PROGRAMMING_LANGUAGE = "Python"
TAG_VERSION_SHORTCUTS = true
TAG_LATEST = true

[ProjectConfig.PACKAGES_WITH_CHECKED_LICENCE]
wcmatch="MIT"
bracex="MIT"
jeepney="MIT"
pyparsing="MIT"
jaraco-classes="MIT"
idna="BSD-3-Clause"
more-itertools="MIT"
chardet="LGPL-2.1+ but accepted for this project since not distributed."
zipp="MIT"
python-dateutil="All contributions after December 1, 2017 released under dual license - either Apache 2.0 License or the BSD 3-Clause License."
keyring="MIT"
setuptools="MIT"
GitPython="BSD-3-Clause"
pdoc3="Accepted for this project since not distributed"
python-dotenv="BSD-3-Clause"
twine="Apache-2.0"
jellyfish="BSD-2-Clause"
packaging="either Apache-2.0 or BSD-2-Clause"
importlib-metadata="Apache-2.0 or Python-2.0"
typing-extensions="PSF-2.0"
tomli="MIT"

[AutoVersionConfig]
CONFIG_NAME = "DEFAULT"
PRERELEASE_TOKEN = "beta"
BUILD_TOKEN = "dev"
TAG_TEMPLATE = "release/{version}"
targets = [ "continuous_delivery_scripts/_version.py",]

[AutoVersionConfig.key_aliases]
__version__ = "VERSION_KEY"
MAJOR = "major"
MINOR = "minor"
PATCH = "patch"
COMMIT = "COMMIT"

[AutoVersionConfig.trigger_patterns]
major = "news/*.major"
minor = "news/*.feature"
patch = "news/*.bugfix"

[tool.towncrier]
directory = "news"
filename = "CHANGELOG.md"
package = "continuous_delivery_scripts"
title_format = "{version} ({project_date})"
start_string = """
[//]: # (begin_release_notes)
"""

[[tool.towncrier.type]]
directory = "major"
name = "Major changes"
showcontent = true

[[tool.towncrier.type]]
directory = "feature"
name = "Features"
showcontent = true

[[tool.towncrier.type]]
directory = "bugfix"
name = "Bugfixes"
showcontent = true

[[tool.towncrier.type]]
directory = "doc"
name = "Improved Documentation"
showcontent = true

[[tool.towncrier.type]]
directory = "removal"
name = "Deprecations and Removals"
showcontent = true

[[tool.towncrier.type]]
directory = "misc"
name = "Misc"
showcontent = false

[tool.black]
line-length = 120

[spdx]
CreatorWebsite = "spdx.org"
PathToSpdx = "spdx/spdxdocs"
UUID="d9e2187c-30b4-11eb-adc1-0242ac120002"
