Compliance, Name,Is a dependency?,URL,Licence,Details,Version,Assessment,Assessment reason,Assessment rule,Automatic assessment,Manual assessment review,ScanCode references
{% for name,package in packages|dictsort %}
{%- if package.is_compliant == True -%}True{%- else -%}False{%- endif -%},{{ package.name }},{%- if package.is_dependency == True -%}True{%- else -%}False{%- endif -%},{{ package.url }},{{ package.licence }},{{ package.licence_compliance_details }},{{ package.version }},{{ package.licence_assessment.status if package.is_dependency else '' }},"{{ package.licence_assessment.reason|replace('"', '""') if package.is_dependency else '' }}",{{ package.licence_assessment.rule if package.is_dependency else '' }},{{ package.licence_assessment.automatic_status if package.is_dependency else '' }},"{{ package.licence_assessment.manual_review.reason|replace('"', '""') if package.is_dependency else '' }}","{% if package.is_dependency %}{% for info in package.licence_assessment.scancode_licences %}{{ info.identifier }} ({{ info.category }}): {{ info.url }}{% if not loop.last %}; {% endif %}{% endfor %}{% endif %}"
{% endfor %}
